/* Load Fonts First */

@font-face {
    font-family: 'Paralines';
    src: url('/css/font/Paralines-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrixSansLight';
    src: url('/css/font/Brix-Sans-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrixSansExtraLight';
    src: url('/css/font/Brix-Sans-ExtraLight.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrixSansBold';
    src: url('/css/font/Brix-Sans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

.paralines {
  font-family: 'Paralines', sans-serif;
}

.brixSansLight {
  font-family: 'BrixSansLight', sans-serif;
}

.brixSansExtraLight {
  font-family: 'BrixSansExtraLight', sans-serif;
}

/* Style HTML tags */

body {
  background-color: #10001F;
  font-family: 'BrixSansLight', sans-serif;
  -webkit-overflow-scrolling: touch;
  width: 100vw;
  height: 100%;
  overflow: scroll;
}

header {
  background-color: rgba(16, 0, 31, 0.9)
}

p {
  margin-bottom: 1em;
}


h1 {
  font-size: 6em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 3em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.25em;
}

em {
  font-style: italic;
}

strong {
  font-family: 'BrixSansBold', sans-serif;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style: disc;
}

blockquote {
  padding: 0 1em;
  border-left: 0.25em solid #10001F;
}

img {
  width: 100%;
}

a[href^="http://"]:after,
a[href^="https://"]:after {
  font-family: FontAwesome;
  content: "\f08e";
  margin: 0 0 0 0px;
  display: none;
}

a[href^="http://"]:hover:after,
a[href^="https://"]:hover:after {
  font-family: FontAwesome;
  content: "\f08e";
  margin: 0 0 0 5px;
  display: inherit;
  font-size: 70%;
  text-decoration: none !important;
}

.white {
  color: white;
}

.purple {
  color: #10001F;
}

.name a {
  color: inherit;
}

/* Styles for Home Page Navigation */

/* Navigation External Link Icon */

nav {
  font-family: 'Paralines', sans-serif;
  font-size: 6em;
}

nav a::after {
  text-decoration: none !important;
}

a[href*="//samhutchings.co/"]:after {
  content: '';
  margin: 0;
}

nav li a:link {
  color: inherit;
  text-decoration: none;
}

nav li a:visited {
  color: inherit;
  text-decoration: none;
}

nav ul {
  list-style: none;
  line-height: 1;
}

nav ul > li:first-child a {
  color: #FFFFFF;
}

nav ul > li:nth-child(2) a {
  color: #FFEC00;
}

nav ul > li:nth-child(3) a {
  color: #FF001F;
}

nav ul > li:last-child a {
  color: #1DA1F2;
}

nav li a:hover {
  text-decoration: underline;
}

.scroll-adjust {
  padding-left: 25px;
}

.one-word-line {
    word-spacing: 10000px;
}

/* Columns */

.full-height {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.col-left-scroll {
  position: absolute;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
}

.card {
  margin-bottom: 2em;
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  width: 50em;
}

.fixed-right-desktop {
  position: absolute;
  right: 0%;
}

/* Break point for devices under 990px */

@media (max-width: 990px) {

  .cd-auto-hide-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    transition: transform .5s;
  }

  .cd-auto-hide-header.is-hidden {
    transform: translateY(-100%);
  }

  .fixed-right-desktop {
    position: absolute;
    top: 0px;
    z-index: 2000;
    width: 100vw;
    padding: 0px;
  }

  nav {
    width: 100vw;
    text-align: center;
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(16, 0, 31, 0.9);
  }

  nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  .container{
    padding: 0px;
    margin: 0px;
    width: 100vw;
  }

  nav li {
    display: inline;
    padding-right: 1em;
  }

  nav li:last-child {
    padding-right: 0px;
  }

  .full-height {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    margin: 0px;
  }

  .col-left-scroll {
    padding-top: 6em;
    width: 100vw;
  }

  .scroll-adjust {
    padding-left: 0px;
  }

  .home h1 {
    font-size: 6em;
    text-align: center;
    width: 100vw;
  }

  .col-lg-7 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

/* Break point for devices under 650px */

@media (max-width: 650px) {

  /* .col-lg-7 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  } */

  .home h1 {
    font-size: 4em;
    text-align: center;
    width: 100vw;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2em;
  }

  nav li {
    padding-right: 0px;
    width: 40%;
    display: inline-block;
    text-align: center;
  }

  ul > li:nth-child(1) {
    padding-bottom: 0.5em;
  }

  ul > li:nth-child(2) {
    padding-bottom: 0.5em;
  }

  .col-left-scroll {
    padding-top: 8em;
    width: 100vw;
  }

  nav {
    left: 0px;
    right: 0px;
  }

}

/* --------------------------------

1. Auto-Hiding Navigation - Simple

-------------------------------- */
.cd-auto-hide-header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.cd-auto-hide-header::after {
  clear: both;
  content: "";
  display: block;
}
.cd-auto-hide-header.is-hidden {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
@media only screen and (min-width: 1024px) {
  .cd-auto-hide-header {
    height: 80px;
  }
}

.cd-auto-hide-header .logo,
.cd-auto-hide-header .nav-trigger {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cd-auto-hide-header .logo {
  left: 5%;
}
.cd-auto-hide-header .logo a, .cd-auto-hide-header .logo img {
  display: block;
}

.cd-auto-hide-header .nav-trigger {
  /* vertically align its content */
  display: table;
  height: 100%;
  padding: 0 1em;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #25283D;
  font-weight: bold;
  right: 0;
  border-left: 1px solid #f2f2f2;
}
.cd-auto-hide-header .nav-trigger span {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
}
.cd-auto-hide-header .nav-trigger em, .cd-auto-hide-header .nav-trigger em::after, .cd-auto-hide-header .nav-trigger em::before {
  /* this is the menu icon */
  display: block;
  position: relative;
  height: 2px;
  width: 22px;
  background-color: #25283D;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.cd-auto-hide-header .nav-trigger em {
  /* this is the menu central line */
  margin: 6px auto 14px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}
.cd-auto-hide-header .nav-trigger em::before, .cd-auto-hide-header .nav-trigger em::after {
  position: absolute;
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.cd-auto-hide-header .nav-trigger em::before {
  /* this is the menu icon top line */
  -webkit-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
          transform: translateY(-6px);
}
.cd-auto-hide-header .nav-trigger em::after {
  /* this is the menu icon bottom line */
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
}
@media only screen and (min-width: 1024px) {
  .cd-auto-hide-header .nav-trigger {
    display: none;
  }
}

.cd-auto-hide-header.nav-open .nav-trigger em {
  /* transform menu icon into a 'X' icon */
  background-color: rgba(255, 255, 255, 0);
}
.cd-auto-hide-header.nav-open .nav-trigger em::before {
  /* rotate top line */
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.cd-auto-hide-header.nav-open .nav-trigger em::after {
  /* rotate bottom line */
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cd-primary-nav {
  display: inline-block;
  float: right;
  height: 100%;
  padding-right: 5%;
}
.cd-primary-nav > ul {
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 0;
  width: 100%;
  display: none;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
}
.cd-primary-nav > ul a {
  /* target primary-nav links */
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  font-size: 1.8rem;
}
.cd-primary-nav > ul a:hover, .cd-primary-nav > ul a.active {
  color: inherit;
}
@media only screen and (min-width: 1024px) {
  .cd-primary-nav {
    /* vertically align its content */
    display: table;
  }
  .cd-primary-nav > ul {
    /* vertically align inside parent element */
    display: table-cell;
    vertical-align: middle;
    /* reset mobile style */
    position: relative;
    width: auto;
    top: 0;
    padding: 0;
    box-shadow: none;
  }
  .cd-primary-nav > ul::after {
    clear: both;
    content: "";
    display: block;
  }
  .cd-primary-nav > ul li {
    display: inline-block;
    float: left;
    margin-right: 1.5em;
  }
  .cd-primary-nav > ul li:last-of-type {
    margin-right: 0;
  }
  .cd-primary-nav > ul a {
    /* reset mobile style */
    height: auto;
    line-height: normal;
    padding: 0;
    border: none;
  }
}

.nav-open .cd-primary-nav ul,
.cd-primary-nav ul:target {
  /*
  	show primary nav - mobile only
  	:target is used to show navigation on no-js devices
  */
  display: block;
}
@media only screen and (min-width: 1024px) {
  .nav-open .cd-primary-nav ul,
  .cd-primary-nav ul:target {
    display: table-cell;
  }
}
