<header class="cd-auto-hide-header">
  <nav class="cd-primary-nav">
    <ul>
      <li><a href="/index.html" title="Go home" id="homeNavLink">Home</a></li>
      <li><a href="/about" title="Read more about Samuel" id="humanNavLink">Human</a></li>
      <li><a href="/designer" title="View my portfolio" id="designerNavLink">Designer</a></li>
      <li><a href="https://www.medium.com/@Smutchings" title="Read my writings on Medium" id="writerNavLink">Writer</a></li>
      <li><a href="https://www.twitter.com/Smutchings" title="View my Twitter" id="tweeterNavLink">Tweeter</a></li>
    </ul>
  </nav>
</header>
