<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">

      <div class="trigger">
        <!-- {{ site.title }} instead of blog -->
        <a class="page-link" href="{{ site.baseurl }}/">home</a>

      <!--  {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}-->
          
          <a class="page-link" href="http://samhutchings.co/about/">about</a>
          <a class="page-link" href="http://samhutchings.co/portfolio/">portfolio</a>
          <a class="page-link" href="http://samhutchings.co/SketchSheets/">iPhone sketch sheets</a>
          <a class="page-link" href="http://samhutchings.co/hireme/">hire me</a>

      </div>
    </nav>

  </div>

</header>
