<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.meta-description %}{{ page.meta-description }}{% else %}{{ site.description }}{% endif %}">

    <!-- Open Graph data -->
      <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="{{ page.url }}" />
      <meta property="og:image" content="{{ page.img }}" />
      <meta property="og:description" content="{{ page.description }}" />

    <!-- Favicons -->

      <!-- Default 32x32 png -->
      <link rel="icon" href="/img/favicon/favicon-32.png" sizes="32x32">

      <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
       <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/favicon/favicon-152.png">

      <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/favicon/favicon-144.png">

      <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
      <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/favicon/favicon-120.png">

      <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/favicon/favicon-114.png">

      <!-- For first- and second-generation iPad: -->
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/favicon/favicon-72.png">

      <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
      <link rel="apple-touch-icon-precomposed" href="/img/favicon/favicon-57.png">

      <!-- For IE10 Metro -->
      <meta name="msapplication-TileColor" content="#10001F">
      <meta name="msapplication-TileImage" content="/img/favicon/favicon-144.png">

    <!-- Styles -->
      <link rel="stylesheet" href="/css/reset.css" type="text/css" media=screen>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="/css/style.css" type="text/css" media=screen>
      <link rel="stylesheet" href="/css/code-emacs.css" type="text/css" media=screen>

    <!-- Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

</head>
