---
layout: default
---


<div class="container-fluid">
  <div class="row d-flex align-items-center justify-content-center flex-column">
    <div class="col topMargin">
      <div class="card">
          <img class="card-img-top" src="{{ page.img }}" alt="{{ page.title }}">
          <div class="card-body">
            <h1 class="card-title">{{ page.title }}</h1>
            <h2 class="card-subtitle mb-2 text-muted">{{ page.subtitle }}</h2>
            {{ content }}
            <a href="mailto:hi@samhutchings.co?subject=I saw your work on {{ page.title }}" class="btn btn-block btn-primary btn-lg">Email Sam</a>
          </div>
      </div>
    </div>
  </div>
</div>
