---
layout: default
---
<div class="container">
<div class="row full-height">
  <div class="col-lg-7 col-left-scroll">
      <div class="card">
        <img class="card-img-top" src="{{ page.img }}" alt="{{ page.title }}">
        <div class="card-body">
          <h2 class="card-title">{{ page.title }}</h5>
          <p class="card-text">{{ content }}</p>
        </div>
      </div>
  </div>
  <div class="col-lg-5" style="position: fixed; right: 0%;">
    <!-- HTML for Home Page navigation-->
    <div id="navigation">
      <ul>
        <li><a href="/designer">Designer</a></li>
        <li><a href="https://www.medium.com/@Smutchings">Writer</a></li>
        <li><a href="https://www.twitter.com/Smutchings">Tweeter</a></li>
      </ul>
    </div>
  </div>
</div>
</div>
